@font-face {
  font-family: 'Careem';
  src: url('https://amr099.github.io/Fonts/CAREEM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Careem', sans-serif;
}
